$lh: 1.55em;
$a_lh: calc(1rem * 1.55);
$marg: calc(1.5rem / 2);
$logo_height: calc((100vw - #{$marg} * 4) * 0.1925);
$animation_duration: 7s;

@font-face {
    font-family: 'KoddiUD OnGothic';
    src: url('/font/KoddiUDOnGothic-Regular.woff2') format(woff2),
        url('/font/KoddiUDOnGothic-Regular.woff') format(woff);
}

*{
    margin: 0;
    padding: 0;

    list-style-type: none;
    text-decoration: none;

    position: relative;
    box-sizing: border-box;

    font-family: 'KoddiUD OnGothic', 'Noto Sans KR', 'Noto Sans CJK KR', 'Pretendard', 'Helvetica Neue', Helvetica, sans-serif;
}


html{
    font-size: 16px;
}

:root{
    --background: #000;
    --color: #fff;

    --backgroundLight: #f4f4f9;
    --colorLight: #000;
}

body.dark-mode {
    background: var(--background);
    color: var(--color);
    line-height: $lh;
}

body.light-mode {
    background: var(--backgroundLight);
    color: var(--colorLight);
    line-height: $lh;
}

body.light-mode .link-tree {
    color: #000;
}

body.light-mode .theme-toggle {
    background-color: #ffd7f1;
    color: #F919A9;
}

.theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 100px;
    background-color: #272727;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
}

a, a:link, a:visited{
    text-decoration: none;
    color: inherit;
}

.background{
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
}

.ruler{
    @extend .background;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 calc(#{$marg} * 2);

    span{
        width: 3px;
        height: 1rem;
        background: var(--color);
    }

    &.ruler-top{
        top: 0;
    }

    &.ruler-bottom{
        top: unset;
        bottom: 0;
    }
}

.logo{
    display: flex;
    width: 100%;
    height: 100%;
    padding: calc(#{$marg} * 2);

    div{
        height: $logo_height;
        width: 100%;
        animation: logoScaler;
        animation-duration: $animation_duration;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(0.66, -0.01, 0.43, 1.01);

        svg{
            width: 100%;
            height: 100%;
        }

        &.group-1{animation-name: logoScaler_largest;}
        &.group-2{animation-name: logoScaler_larger; animation-delay: calc(#{$animation_duration} / 5)};
        &.group-3{animation-delay: calc(#{$animation_duration} / 5 * 2)};
        &.group-4{animation-delay: calc(#{$animation_duration} / 5 * 3)};
        &.group-5{animation-delay: calc(#{$animation_duration} / 5 * 4)};
        &.group-6{animation-delay: calc(#{$animation_duration} / 5 * 5)};
    }
}

.link-tree{
    font-size: calc(1rem + 0.3vw);
    height: 100%;
    line-height: $lh;
    counter-reset: linkTree;
    color: #fff;
    li{
        display: flex;
        align-items: center;
        position: fixed;        
        &::before{
            counter-increment: linkTree;
            content: counter(linkTree);
            border: 3px solid;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.2em;
            height: 1.2em;
            border-radius: 100px;
            margin-right: 0.5rem;
        }
        a{
            border-bottom: 3px solid transparent;
        }
        a:hover{
            border-bottom: 3px solid;
        }
    }
}

.drawing{
    width: 100%;
    mix-blend-mode: difference;
    bottom: calc(#{$marg} * 2);
    svg{
        width: 100%;
        height: 100%;

        path{
            stroke-dasharray: 1;
            stroke-dashoffset: 1;
            animation: dash 3s ease-in-out forwards;
        }
    }
}

#drawing-dark, #drawing-light {
    display: none;
}

body.dark-mode #drawing-dark {
    display: block;
}

body.light-mode #drawing-light {
    display: block;
}

@keyframes dash {
    from{
        stroke-dashoffset: 1;
    }
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes logoScaler{
    0%{ height: $logo_height; }
    100%{ height: 52%; }
}
@keyframes logoScaler_larger{
    0%{ height: $logo_height; }
    100%{ height: 73.33%; }
}
@keyframes logoScaler_largest{
    100%{ height: 100%; }
}


@media screen and (max-width: 1024px){
    .contents p{
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 450px){
    .contents p{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 350px){
    .contents p{
        font-size: 1.1rem;
    }
}


// introduce
body.intro {
    background: #ececec;
    color: #9f9f9f;
    font-weight: regular;
    font-size: 1rem;
    padding: 0.5rem;
}

.hidden {
    font-size: 1rem;
    padding: 1rem;
    display: none;
    text-align: left;
}

.clickable {
    padding: 0.5rem;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    text-decoration: dotted;
    position: relative;
}

.clickable:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #000000;
}


//guestbook
.logo-mini{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: calc(#{$marg} * 4);

    div{
        height: 60%;
        width: 60%;

        svg{
            width: 100%;
            height: 100%;
        }
    }
}

.back-dark{
    font-size: 0.9rem;
    text-decoration: none; 
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 8px 20px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    background: #797979;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.guestbook {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: calc(100% - 32px);
    max-width: 900px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 16px;
    margin-bottom: 100px;
}

.containerGuest {
    width: calc(100% - 32px);
    max-width: 900px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 16px;
}

.info-box {
    padding: 1rem;
    text-align: left;
    font-size: calc(1.2rem + 0.3vw);
    align-self: flex-start;
    box-sizing: border-box;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #000;
    width: 100%;
    
    label {
      font-weight: bold;
    }
    
    input[type="text"] {
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 1rem;
      background: #fff;
      text-align: start;
    }

    textarea {
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 1rem;
        background: #fff;
        text-align: start;
      }

    #message {
        height: 64px;
        resize: vertical;
        line-height: 140%;
    }
    
    button {
      padding: 10px;
      border: none;
      background-color: #ffd7f1;
      color: #F919A9;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 1rem;
      border-radius: 100px;
      cursor: pointer;
      transition: background-color 0.3s;
      
      &:hover {
        background-color: #fdc5eb;
      }
    }
  }

  br {
    height: 4px;
  }
  
  #guestbookEntries {
    width: calc(100% - 32px);
    max-width: 900px;
    margin-top: 20px;
    display: none;
    
    div {
      padding: 8px 48px 8px 12px;
      background: #ECECEC;
      border-bottom: 1px solid #000;
      word-wrap: break-word;
      color: #000;
      position: relative;
      text-align: justify;

      .name {
        color: #F919A9;
      }

      .delete-icon {
        display: none;
        position: absolute;
        right: 0.3rem;
        top: 0.3rem;
        width: 36px; // 아이콘 크기에 맞게 조정
        height: 36px; // 아이콘 크기에 맞게 조정
        background-image: url('../asset/delete-icon.svg'); // 이미지 경로에 맞게 수정
        background-size: cover;
        cursor: pointer;
    }
    
    &:hover .delete-icon {
        display: block;
    }
    }
  }

